{% macro displayNewsList(news_list) %}

    {% for news in news_list %}
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 news-card">
            <img src="{{ news.poster }}" alt="{{ news.title }} poster" class="img-responsive">
            <li class="text-center">
                <a href="/news/{{news.id}}">
                    {{ news.headline|truncate(20)}}</a>
            </li>
        </div>

    {% endfor %}

{% endmacro %}

<!-- Displaying articles macro -->
{% macro displayArticles(article_list) %}
    {% for article in article_list %}
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 article-card">
        <h2> {{ article.headline}} </h2>
        <p> {{ article.article | truncate(30) }}</p>
    </div>
    {% endfor %}
{% endmacro %}

